<h1>Welcome to the Trianlge Checker</h1>

<h3>Enter the sides of your triangle below</h3>

<form action="/result" method="post">
  <div class="control-group">
    <label for="side1">Side 1</label>
    <input id="side1" name="side1" type="text">
  </div>
  <div class="control-group">
    <label for="side2">Side 2</label>
    <input id="side2" name="side2" type="text">
  </div>
  <div class="control-group">
    <label for="side3">Side 3</label>
    <input id="side3" name="side3" type="text">
  </div>
  <button type="submit" class="btn">Get the Triangle Type!</button>
</form>
